@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
 }
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 100vw;
}
a{
     color: white;
    display: block;
    background-color: rgb(108, 0, 0);
    text-align: center;
    padding: 14px;
    font-weight: bold;
    text-decoration: none;
}